biopython==1.77
cryptography>=1.7.1
cycler>=0.10.0
decorator>=4.0.9
future>=0.16.0
idna>=2.2
keyring>=10.1
keyrings.alt>=1.3
matplotlib>=1.5.1
mock>=2.0.0
networkx==1.11
numpy>=1.11.0
pandas>=0.18.0
pbr>=3.1.1
prettytable>=0.7.2
pyasn1>=0.1.9
pycrypto>=2.6.1
pydotplus>=2.0.2
pygobject>=3.22.0
pyparsing>=2.2.0
python-dateutil>=2.8.1
python-Levenshtein>=0.12.0
pytz>=2017.2
pyxdg>=0.26
scipy>=0.17.0
seaborn>=0.7.0
SecretStorage>=2.3.1
six>=1.10.0
